#countLable{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}

#btnContainer{
    text-align: center;

}
.button{
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.5em;
    color: white;
    background-color: #212121;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
    border: none;

}
.button:hover{
    background-color: #121212;
    transform: scale(1.05);
    transition: 0.4s ease;
}